<h1><%= gravatar_for @user %> <strong><%= @user.name %></strong>, <%= @user.email %></h1>
<h2>Created at <%= @user.created_at %>,<br/> 
 Updated at <%= @user.updated_at %></h2>

<h3 align = "right">
<%= Time.now %>
</h3>
